
body {
    background-color: black;
    color: white;
}

header {
    height: 100%;
    overflow: auto;
    position: relative;
    /* background-color: black; */
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#moon{
animation: moon 12s;
animation-fill-mode: forwards;
/* animation-iteration-count: infinite; */
}
#mt{
animation: mt 12s;
animation-fill-mode: forwards;
/* animation-iteration-count: infinite; */
}
#sand{
animation: sand 12s;
animation-fill-mode: forwards;
/* animation-iteration-count: infinite; */
}

@keyframes moon {
from { margin-top: -1200px; }
/* 60% {
margin-top: -2000px;
} */
to   { margin-top: -600px; }
}
@keyframes mt {
from { margin-top: -900px; }
/* 80% {
margin-top: -3195px;
} */
to   { margin-top: -1500px; }
}    @keyframes sand {
from { margin-top: -1100px; }
/* 80% {
margin-top: -3300px;
} */
to   { margin-top: -1700px; }
}

/* img {} */
